@use './fonts' as *;
@use './colors' as *;
@use './mixins' as *;



*, *::after, *::before {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Avenir', sans-serif, open;
  }