@import '../../styles/partials/colors.scss';
@import '../../styles/partials/mixins.scss';

.video-item {
    display: flex;
    margin-bottom: 1rem;
    @include tablet {
        margin-bottom: 1.5rem;
    }

    &__link {
        text-decoration: none;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        justify-content: space-between;
        @include tablet {
            padding-left: 1.5rem;
        }
    }

    &__image {
        width: 6.67rem;
        border-radius: 4px;
        background-color: $mercury;
        @include tablet {
            width: 8rem;
        }
    }

    &__title  {
        font-size: .8rem;
        font-family: 'Avenir';
        color: $brainflix-black;
        font-weight: 600;
        margin: 0;
        text-decoration: none;
        @include tablet {
            font-size: 0.875rem;
            font-weight: 700;
            width: 12rem;
        }
    }

    &__channel {
        font-size: .7825rem;
        font-family: 'Avenir';
        color: $brainflix-black;
        font-weight: 500;
        line-height: 1.125rem;
        margin: 0;
        @include tablet {
            font-size: 14px;
        }

    }
}