@import '../../styles/partials/colors.scss';
@import '../../styles/partials/mixins.scss';

.video-upload {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-top: 1.5px solid $mercury;
    @include tablet {
        padding: 2rem 2.25rem 1.5rem 2.25rem;
        border-top: 2px solid $mercury;
    }
    @include desktop {
        padding: 2rem 9rem 1.5rem 9rem;
    }

    &__title {
        font-family: 'Avenir';
        font-size: 1.35rem;
        margin-top: .5rem;
        margin-bottom: 1rem;
        color: $brainflix-black;
        @include tablet {
            margin-top: .25rem;
            font-size: 2.0625rem;
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
            border-bottom: 2px solid $mercury;
        }
    }

    &__label-one {
        font-family: 'Avenir';
        font-size: .7rem;
        color: $silver;
        font-weight: 600;
        @include tablet {
            font-size: .75rem;
            display: flex;
        }
        @include desktop {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__label {
        font-family: 'Avenir';
        font-size: .7rem;
        color: $silver;
        font-weight: 600;
        @include tablet {
            font-size: .75rem;
            display: flex;
        }
        @include desktop {
            display: inline-block;
        }
    }

    &__image{
        width: 100%;
        border-radius: 4px;
        background-color: $mercury;
        margin-bottom: 1rem;
        @include tablet {
            width: 55%;
            margin-top: .3rem;
        }
        @include desktop {
            width: 30%;
            margin: 1.2rem 1.5rem 2rem 0;
        }
    }

    &__title-input {
        height: 2.25rem;
        width: 100%;
        border-radius: 4px;
        padding: .75rem;
        border: 1px solid $mercury;
        background-color: $alabaster;
        margin: .1rem 0 1rem 0;

        &::placeholder {
            color: $brainflix-black;
            font-size: .75rem;
            line-height: 1.25rem;
            font-weight: 500;
            font-family: 'Avenir';
            align-items: center;
        }
        &:active {
            border: 2px solid $brainflix-blue;
        }
        &:invalid {
            border: 1px solid $error;
        }
        @include tablet {
            margin: .2rem 0 1.3rem 0;
        }
        @include desktop {
            width: 100%;
            margin-bottom: .97rem;
        }
    }

    &__description-input {
        width: 100%;
        height: 5rem;
        background-color: $alabaster;
        border: 1px solid $mercury;
        border-radius: 4px;
        padding: .75rem;
        resize: none; 
        overflow: hidden;
        margin-top: .1rem;
        margin-bottom: 1rem;
        &::placeholder {
            font-size: .75rem;
            font-weight: 500;
            font-family: 'Avenir';
            color: $brainflix-black;
        }
        @include tablet {
            margin: .2rem 0 1.3rem 0;
        }
        @include desktop {
            width: 100%;
            margin-bottom: 0;
        }
    }

    &__buttons {
        @include tablet {
            display: flex;
            justify-content: right;
            border-top: 2px solid $mercury;
            padding-top: 1.5rem;
        }
    }

    &__button {
        font-size: .69rem;
        font-weight: 500;
        width: 100%;
        height: 2.3rem;
        border-radius: 4px;
        background: $brainflix-blue;
        color: $white;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 2rem;
        &:hover {
            background-color: $brainflix-darkblue;
        }
        @include tablet {
            width: 10rem;
            padding: 0 2rem;
            margin: 0;
            font-size: .75rem;
            order: 2;
        }
        @include desktop {
            
        }
    }

    &__button-two {
        color: $brainflix-blue;
        border: none;
        background-color: $white;
        font-size: 0.69rem;
        font-weight: 600;
        margin-bottom: 1rem;
        position: relative;
        @include tablet {
            order: 1;
            margin-right: 4rem;
            margin-top: .7rem;
            font-size: .75rem;
        }
    }

    &__publish-icon {
        height: 1.3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }

    &__form {
        @include desktop {
            display: flex;
            position: relative;
        }
    }

    &__layout {
        @include desktop {
            display: contents;
        }
    }

    &__layout-2 {
        @include desktop {
            width: 100%;
        }
    }
}
