@import './styles/partials/mixins.scss';

@media (min-width: 1280px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    width: 45%;
  }

  .main {
    width: 55%;
  }
}